html{
                
                background-color: black;
    font-family: Prototype;
    margin: 0 auto;
    max-width: 90%;


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
}

div{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
    color: white;
}

hr { 
    margin-top: 30px;
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 0.75), rgba(0, 0, 0, 0)); 

};
    color:white; 
    background-color: white;
    box-shadow: 0px 3px 7px white;
}
h1
{
                    color:white;
                    background-color: black;
            text-shadow: 2px 2px 7px white;
            font-size: 100px;
             
}

button 
{
            margin-top: 50px;
            padding: 10px 30px;
            border-radius: 360px;
            color: lightgrey;
            background-color: black;
            box-shadow: 0px 17px 10px -7px
            rgba(255,255,255, 0.7);
    
    border: solid 3px background-color: black;
    font-size: 25px;
    font-family: Bahnschrift SemiBold;
    
    transition: ease-in-out all 400ms;
}

button:hover {
    color: black;
    background-color: whitesmoke;
    transform: translate(0px, 10px);
    box-shadow: 0px 30px 10px -10px
        rgba(255,255,255, 0.2);
}