/* FONTS-code


    font-family: 'Titillium Web', sans-serif;

    font-family: 'Quicksand', sans-serif;

    font-family: 'Teko', sans-serif;

    font-family: 'Cabin', sans-serif;

    font-family: 'Russo One', sans-serif;

*/
html {
    overflow-x: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    overflow-x:hidden
}

/* NAVBAR BEGIN */
.header {
    background-color: white;
    padding: 2em 0;

}
.navbar {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
     box-shadow: 0 2px 21px 1px rgba(0,0,0,.5);
}
.nav-link {
    text-decoration: none;
}

.nav-item {
    padding: 0 1.5em;
    list-style-type: none;
}

.logo{
    height: 6vw;
    width: auto;
}
.ul {
    text-align: right;
}

/*NAVBAR END*/
/* HOME-SECTION BEGIN*/
.bg-image {
    background-image: url("aknight.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: hue-rotate(180deg);
    color: white;
}


#home {
display: flex;
justify-content: center;
align-items: center;
    color: white;
    
}

/* HOME-SECTION END*/
/* EVENT-SECTION - BEGIN*/

h1 {
    color: white;
 font-family: 'Righteous', cursive;
    font-size: 5em;
    margin-bottom: 5em;
}



h3 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.h_wrap {
  box-shadow: 0 2px 21px 1px rgba(0,0,0,.5);
    width: 100%;
  background-color: hsl(0, 0%, 22%);
   color: white;
    padding: 1em;
     background-color: hsl(150, 1%, 30%);
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.events {
    background-color: white;
}

.img_past {

    height: 20vh;
    margin-bottom: 1em;
    margin-top: 1em;
    opacity: 0.8;
    transition: 1s ease;

}

.img_past:hover {

    filter: blur(3px);
}


.img_present {
    height: 30vh;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: -1px 9px 36px -11px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -1px 9px 36px -11px rgba(0, 0, 0, 0.44);
    box-shadow: -1px 9px 36px -11px rgba(0, 0, 0, 0.44);
    transition: 1s ease;
}

.img_present:hover {
    -webkit-box-shadow: 0px -3px 66px 18px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -3px 66px 18px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -3px 66px 18px rgba(0, 0, 0, .3);
    filter: contrast(360%);
}


/*PURPOSE SECTION*/

.purpose {
    background-color: hsl(0, 0%, 22%);
    color: white;
   background: linear-gradient(to right bottom, hsl(150, 1%, 30%), hsl(150, 1%, 10%));
}

.purpose_text {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 2.1vh;
    line-height: 180%;
}
/*FOOTER*/

@media only screen and (max-width: 770px) {
    .logo{
        height: 6em;
        width: auto;
    }

    .hide {

        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .logo{
        height: 5em;
        width: auto;
    }
}

@media only screen and (max-width: 450px) {
    h1{
        font-size: 3em;
    }
    .navbar {
        font-size: 1em;
    }
}

